.game {
    margin: 0 auto;
    width: 600px;
}

.game__field {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    /*outline: 2px solid black;*/
    justify-content: center;
}

.game__squares {
    width: calc(100% / 6);
    border: 1px solid black;
    box-sizing: border-box;
    height: calc(100% / 7);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
}

.solution {
    display: block;
    font-size: 35px;
    text-align: center;
    margin: 0 auto;
}

.game__squares_diamonds,
.game__squares_hearts {
    color: #c62216;
}

.game__squares_clubs,
.game__squares_spades {
    color: #22261f;
}
